.root {
	cursor: pointer;
	user-select: none;
	color: #333;
	width: fit-content;

	.primary {
		border: #0af solid 2px;
		background-color: #0af;
		color: white;
		line-height: 1em;
		border-radius: 0.5em;
		padding: 0.75em 1.5em;
		transition: 0.3s;

		&:hover {
			background-color: #09e;
			transition: 0.05s;
		}

		&:active {
			background-color: #07c;
		}
	}

	.second {
		border: #0af solid 2px;
		line-height: 1em;
		border-radius: 0.5em;
		padding: 0.75em 1.5em;
		transition: 0.3s;

		&:hover {
			background-color: #0af;
			color: white;
			transition: 0.05s;
		}

		&:active {
			background-color: #09e;
		}
	}

	.text {
		&:hover {
			color: #000;
			transition: 0.05s;
		}

		&:active {
			color: #666;
		}
	}
}
